.board_title {
    width: 55%;
    height: 50px;
    border: 1px solid black;
}

.board_write{
    width: 55%;
    height: 200px;
    margin-top: 20px;
    border: 1px solid black;

}

.board_btn{
   display: flex;
   justify-content: center;
   align-items: center;

}