body{
  margin-left: 20px;
  
}

.comments {
    margin-top: 20px;
  }

  .comments_container {
    margin-top: 40px;
    width: 55%;
    border: 1px solid black;
  } 
  
  .comment_input {
    width: 55%;
    height: 28px;
    margin-bottom: 8px;
    margin-top: 9px;
    border: 1px solid black
  }
  
  .comment_button {
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 20px;
    color: black;
  }

  .comment {
    display: flex;
    margin-bottom: 28px;
    
  }
  
  .comment_detail {
    width: 50%;
    margin-left: 20px;
    margin-top: 15px;
    
  }
  
  .comment-content {
    display: flex;
  }
  
  .comment-writer {
    margin-right: 8px;
    font-size: 20px;
  }
  
  .comment-text {
    font-size: 18px;
  }
  
  .comment-actions {
    display: flex;
    font-size: 12px;
    color: black;
    cursor: pointer;
    margin-top: 8px;
    
  }
  
  .comment-action {
    margin-right: 8px;
  }
  
  .reply {
    margin-top: 20px;
  }

  .folder {
    border: 1px solid black;
    width: 100%;
  }
  
  /* details{
    width: 55%;
    border: 1px solid black;
  } */

  summary::marker{
    /* content: ''; */
  }
